## importing library

In [55]:
import pandas as pd

In [56]:
dataset=pd.read_csv('/home/hindu/Desktop/python/ml learn/pima_diabetiz/pima-indians-diabetes-main.csv')
dataset.head()

,times_pregnant,Plasma_2_conc,Diastolic_blood_pressure,Triceps_skin_fold_thickness,serum_insulin,Body_mass_index,Diabetes_pedigree_f,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [57]:
X=dataset.drop(['Class'],axis=1)
y=dataset['Class']

In [58]:
X.head()

,times_pregnant,Plasma_2_conc,Diastolic_blood_pressure,Triceps_skin_fold_thickness,serum_insulin,Body_mass_index,Diabetes_pedigree_f,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [59]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Class, dtype: int64

## Spliting the data into train test

In [60]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=7)

### Selecting the KNN from sklearn and fitting the dataset

In [49]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier()

In [50]:
KNN.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

## Predicting the values

In [51]:
Predictions=KNN.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy = accuracy_score(y_test,Predictions)

In [54]:
accuracy*100

68.83116883116884